#game{
	display: none;
}

#lobbyTable:first-child td {
    border-top: none;
}

#lobbyTable {
    width: 100%;
}

#lobbyTable td {
    border-top: 1px solid #ebebeb;
    padding: 5px 0px 5px 30px;
    background-repeat: no-repeat;
    background-position: left;
}

#los{
    display: none;
}

#dice{
    float: left;
}

#diceText{
    padding-left: 25px;
}

#projects{
    float: left;
    width: 376px;
}

#exit{
    float: right;
}

#player{
    color: #03A9F4;
}

#chipBlau1{
    position: absolute;
    top: 800px;
    left: 800px;
    z-index: 1;
    height: 35px;
    width: 35px;
}

#chipGelb1{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 35px;
    width: 35px;
}

#chipRot1{
    position: absolute;
    top: 161px;
    left: 344px;
    z-index: 1;
    height: 35px;
    width: 35px;
}

#iconBlau{
    height: 15px;
    width: 15px;
}

#iconRot{
    height: 15px;
    width: 15px;
}

#iconGruen{
    height: 15px;
    width: 15px;
}

#iconGelb{
    height: 15px;
    width: 15px;
}

#iconLila{
    height: 15px;
    width: 15px;
}